.main-sider-container {
  .main-sider-overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
  }

  .main-sider-content {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    background: $white;

    .main-sider-close-button {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 20px;
      color: $orange;
    }

    .main-sider-logo {
      margin: 30px auto;

      img {
        display: block;
        margin: 0 auto;
        width: 100px;
      }
    }

    .main-sider-menu {
      transform: none !important;
      transition: none !important;
    }

    .main-sider-menu li {
      &.ant-menu-item-selected {
        background: rgba($orange, 0.1);

        a {
          color: $orange !important;
        }

        &:after {
          border-right: 3px solid $orange;
        }
      }

      a:hover {
        color: $orange;
      }

      &:after {
        border-color: transparent;
      }
    }
  }
}
